In [1]:
# print all the result
from IPython.core.interactiveshell import InteractiveShell   
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#import 
import pandas as pd

us_accident = pd.read_csv('C:/Users/user/Desktop/Data visualization/project/US_Accidents_June20.csv')
print (us_accident)
type(us_accident)

                ID    Source    TMC  Severity           Start_Time  \
0              A-1  MapQuest  201.0         3  2016-02-08 05:46:00
1              A-2  MapQuest  201.0         2  2016-02-08 06:07:59
2              A-3  MapQuest  201.0         2  2016-02-08 06:49:27
3              A-4  MapQuest  201.0         3  2016-02-08 07:23:34
4              A-5  MapQuest  201.0         2  2016-02-08 07:39:07
...            ...       ...    ...       ...                  ...
3513612  A-3513776      Bing    NaN         2  2019-08-23 18:03:25
3513613  A-3513777      Bing    NaN         2  2019-08-23 19:11:30
3513614  A-3513778      Bing    NaN         2  2019-08-23 19:00:21
3513615  A-3513779      Bing    NaN         2  2019-08-23 19:00:21
3513616  A-3513780      Bing    NaN         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  ...  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN  ...
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN  ...
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN  ...
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN  ...
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN  ...
...                      ...        ...         ...       ...        ...  ...
3513612  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094  ...
3513613  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363  ...
3513614  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727  ...
3513615  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565  ...
3513616  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934  ...

         Roundabout Station   Stop Traffic_Calming Traffic_Signal  \
0             False   False  False           False          False
1             False   False  False           False          False
2             False   False  False           False           True
3             False   False  False           False          False
4             False   False  False           False           True
...             ...     ...    ...             ...            ...
3513612       False   False  False           False          False
3513613       False   False  False           False          False
3513614       False   False  False           False          False
3513615       False   False  False           False          False
3513616       False   False  False           False          False

        Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0              False          Night          Night             Night
1              False          Night          Night             Night
2              False          Night          Night               Day
3              False          Night            Day               Day
4              False            Day            Day               Day
...              ...            ...            ...               ...
3513612        False            Day            Day               Day
3513613        False            Day            Day               Day
3513614        False            Day            Day               Day
3513615        False            Day            Day               Day
3513616        False            Day            Day               Day

        Astronomical_Twilight
0                       Night
1                         Day
2                         Day
3                         Day
4                         Day
...                       ...
3513612                   Day
3513613                   Day
3513614                   Day
3513615                   Day
3513616                   Day

[3513617 rows x 49 columns]

pandas.core.frame.DataFrame

In [3]:
#totol rows
len(us_accident)

3513617

In [4]:
# show attributes
us_accident.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [5]:
#remove duplicates
us_accident.drop_duplicates()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,A-3513776,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,False,False,False,False,False,False,Day,Day,Day,Day
3513613,A-3513777,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,False,False,False,False,False,False,Day,Day,Day,Day
3513614,A-3513778,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,False,False,False,False,False,False,Day,Day,Day,Day
3513615,A-3513779,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,False,False,False,False,False,False,Day,Day,Day,Day
3513616,A-3513780,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,False,False,False,False,False,False,Day,Day,Day,Day

In [6]:
# rows for each state
us_accident.groupby('State').size()

State
AL     44625
AR      2012
AZ     78584
CA    816825
CO     49731
CT     25901
DC      4820
DE      5739
FL    258002
GA     93614
IA     11475
ID      2044
IL     99692
IN     33746
KS      7939
KY     22553
LA     61515
MA     39044
MD     53593
ME      2243
MI     95983
MN     81863
MO     33643
MS      6585
MT       512
NC    165958
ND        44
NE     23970
NH      7984
NJ     59059
NM      5523
NV     10643
NY    160817
OH     66139
OK     60003
OR     90122
PA    106787
RI     11753
SC    173277
SD        61
TN     69895
TX    329284
UT     51685
VA     96075
VT       702
WA     68544
WI     20120
WV      2381
WY       508
dtype: int64

In [7]:
len(us_accident.groupby('State'))

49

In [8]:
df = us_accident.drop_duplicates(subset = ["State"])
df
state=df['State']
type(state)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
202,A-203,MapQuest,241.0,3,2016-02-16 13:46:09,2016-02-16 14:16:09,38.455898,-81.935623,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
728,A-729,MapQuest,201.0,3,2016-06-21 10:34:40,2016-06-21 11:04:40,38.085300,-122.233017,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
116060,A-116062,MapQuest,222.0,3,2016-11-30 15:36:03,2016-11-30 17:09:22,27.981367,-82.326561,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
146260,A-146262,MapQuest,245.0,3,2016-11-30 15:13:44,2016-11-30 17:26:28,33.546177,-84.577347,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
146283,A-146285,MapQuest,201.0,2,2016-11-30 16:19:05,2016-11-30 17:03:45,34.318562,-82.663651,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
160011,A-160013,MapQuest,201.0,3,2016-06-21 09:47:44,2016-06-21 11:06:10,41.212105,-96.091339,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
160013,A-160015,MapQuest,201.0,2,2016-06-21 11:01:36,2016-06-21 11:31:36,41.261047,-95.850868,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
167298,A-167300,MapQuest,241.0,2,2016-11-30 14:56:10,2016-11-30 17:10:53,41.816620,-88.168243,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
167304,A-167306,MapQuest,201.0,3,2016-11-30 17:32:12,2016-11-30 18:02:12,38.649963,-90.448578,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Day,Day
167348,A-167350,MapQuest,201.0,3,2016-12-01 09:27:10,2016-12-01 10:27:10,42.647610,-87.952553,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
167968,A-167970,MapQuest,241.0,3,2016-12-12 18:33:39,2016-12-12 19:33:39,41.573952,-87.508942,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
178890,A-178892,MapQuest,201.0,2,2016-11-30 15:42:10,2016-11-30 17:00:07,42.963215,-85.666740,NaN,NaN,...,False,True,False,False,True,False,Day,Day,Day,Day
194254,A-194256,MapQuest,201.0,2,2016-11-30 16:37:24,2016-11-30 17:22:05,40.775616,-74.237305,NaN,NaN,...,False,False,False,False,True,False,Night,Day,Day,Day
194255,A-194257,MapQuest,241.0,3,2016-11-30 16:25:41,2016-11-30 17:10:30,41.139324,-74.169876,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
194261,A-194263,MapQuest,201.0,2,2016-11-30 15:56:34,2016-11-30 17:13:41,41.178360,-73.165665,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
194262,A-194264,MapQuest,201.0,2,2016-11-30 15:37:19,2016-11-30 17:08:21,42.144863,-72.599976,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
194263,A-194265,MapQuest,229.0,3,2016-11-30 15:34:52,2016-11-30 17:06:30,41.845760,-71.410995,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
194809,A-194811,MapQuest,201.0,2,2016-12-05 06:28:02,2016-12-05 07:27:39,42.705330,-71.351265,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
197865,A-197867,MapQuest,201.0,3,2016-12-26 14:00:12,2016-12-26 14:45:00,41.338398,-74.837120,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
227191,A-227193,MapQuest,200.0,2,2016-03-27 22:08:08,2016-03-27 23:23:08,38.766727,-84.188011,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
228551,A-228553,MapQuest,201.0,2,2016-11-30 11:58:01,2016-11-30 16:57:20,39.152046,-76.645584,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
228564,A-228566,MapQuest,201.0,3,2016-11-30 16:45:09,2016-11-30 17:14:40,38.815727,-77.138252,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
228625,A-228627,MapQuest,201.0,2,2016-11-30 20:35:42,2016-11-30 21:05:21,38.888493,-77.052330,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
230362,A-230364,MapQuest,201.0,2,2016-12-09 18:08:28,2016-12-09 18:38:28,39.724689,-75.630928,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
261007,A-261009,MapQuest,201.0,2,2016-11-30 16:03:54,2016-11-30 17:20:00,30.336502,-97.755646,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
307066,A-307069,MapQuest,201.0,3,2016-11-30 16:06:44,2016-11-30 17:21:05,47.008610,-122.907059,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
307164,A-307167,MapQuest,201.0,2,2016-12-02 14:35:21,2016-12-02 15:19:54,46.099831,-123.162994,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
443643,A-443649,MapQuest,201.0,2,2017-05-14 11:39:21,2017-05-14 12:24:21,31.987831,-85.114471,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512281,A-512287,MapQuest,241.0,2,2020-05-24 13:57:28,2020-05-24 15:28:43,35.869419,-83.567642,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
512282,A-512288,MapQuest,241.0,3,2020-05-24 15:11:44,2020-05-24 16:26:20,35.594837,-82.403305,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512366,A-512372,MapQuest,201.0,3,2020-05-24 06:58:08,2020-05-24 07:52:08,38.932152,-94.705070,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512374,A-512380,MapQuest,201.0,3,2020-05-24 07:59:38,2020-05-24 10:24:57,30.295185,-91.915894,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512375,A-512381,MapQuest,201.0,2,2020-05-24 10:14:59,2020-05-24 10:59:43,35.309669,-97.318153,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512413,A-512419,MapQuest,241.0,2,2020-05-24 11:23:22,2020-05-24 13:38:52,39.268581,-105.955811,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512426,A-512432,MapQuest,201.0,3,2020-05-24 20:19:37,2020-05-24 20:48:51,40.208427,-111.659386,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512427,A-512433,MapQuest,241.0,2,2020-05-24 09:02:31,2020-05-24 11:27:28,34.212959,-112.755493,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
513067,A-513073,MapQuest,201.0,2,2020-05-25 06:37:47,2020-05-25 07:58:33,44.471825,-93.292389,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
513256,A-513262,MapQuest,201.0,3,2020-05-25 12:32:51,2020-05-25 14:04:59,32.310436,-90.162643,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
513411,A-513417,MapQuest,201.0,3,2020-05-25 18:21:16,2020-05-25 19:57:42,41.098640,-115.110962,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
513726,A-513732,MapQuest,201.0,3,2020-05-26 19:24:58,2020-05-26 20:25:30,45.375580,-68.605171,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
515853,A-515859,MapQuest,222.0,4,2020-05-27 18:27:41,2020-05-27 20:17:40,34.780514,-92.161514,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
516232,A-516238,MapQuest,201.0,3,2020-05-27 17:31:25,2020-05-27 19:15:55,47.826641,-116.873589,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
518018,A-518024,MapQuest,241.0,4,2020-05-29 16:16:03,2020-05-29 17:15:32,44.953304,-72.150665,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
519066,A-519072,MapQuest,201.0,3,2020-05-29 07:53:00,2020-05-29 09:06:58,35.122890,-106.621597,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
519439,A-519445,MapQuest,245.0,3,2020-05-30 22:28:03,2020-05-30 22:57:40,46.892303,-98.629044,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Day,Night
532443,A-532451,MapQuest,201.0,2,2020-05-11 12:59:10,2020-05-11 13:28:58,41.579449,-109.255669,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
602458,A-602466,MapQuest,343.0,4,2020-03-20 10:10:21,2020-03-20 10:55:56,43.544025,-96.780334,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
917864,A-917890,MapQuest,341.0,4,2019-11-29 19:15:04,2019-11-29 20:00:19,45.058613,-107.337051,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night

pandas.core.series.Series

In [9]:
state.values
hello=state.sort_values()
print(hello)

array(['OH', 'WV', 'CA', 'FL', 'GA', 'SC', 'NE', 'IA', 'IL', 'MO', 'WI',
       'IN', 'MI', 'NJ', 'NY', 'CT', 'MA', 'RI', 'NH', 'PA', 'KY', 'MD',
       'VA', 'DC', 'DE', 'TX', 'WA', 'OR', 'AL', 'TN', 'NC', 'KS', 'LA',
       'OK', 'CO', 'UT', 'AZ', 'MN', 'MS', 'NV', 'ME', 'AR', 'ID', 'VT',
       'NM', 'ND', 'WY', 'SD', 'MT'], dtype=object)

443643    AL
515853    AR
512427    AZ
728       CA
512413    CO
194261    CT
228625    DC
230362    DE
116060    FL
146260    GA
160013    IA
516232    ID
167298    IL
167968    IN
512366    KS
227191    KY
512374    LA
194262    MA
228551    MD
513726    ME
178890    MI
513067    MN
167304    MO
513256    MS
917864    MT
512282    NC
519439    ND
160011    NE
194809    NH
194254    NJ
519066    NM
513411    NV
194255    NY
0         OH
512375    OK
307164    OR
197865    PA
194263    RI
146283    SC
602458    SD
512281    TN
261007    TX
512426    UT
228564    VA
518018    VT
307066    WA
167348    WI
202       WV
532443    WY
Name: State, dtype: object

In [10]:
#change currently working directory
import os
path = os.getcwd()
path

'C:\\Users\\user'

In [11]:
os.chdir(r'C:/Users/user/Desktop/Data visualization/project/states_accident')
path = os.getcwd()
path

'C:\\Users\\user\\Desktop\\Data visualization\\project\\states_accident'

In [79]:
#export csv file for each state
for i in hello.iloc:
    comeon=us_accident.loc[us_accident['State'] == i]
    comeon.to_csv(str(i)+'.csv')

#cleaning data

In [28]:
# drop unnecessary column
MD=us_accident.loc[us_accident['State'] == 'MD']
MD=MD.drop('Number',axis=1)
print(MD)
MD.isnull().sum()

                ID    Source    TMC  Severity           Start_Time  \
228551    A-228553  MapQuest  201.0         2  2016-11-30 11:58:01
228552    A-228554  MapQuest  241.0         3  2016-11-30 12:04:03
228565    A-228567  MapQuest  201.0         2  2016-11-30 16:54:53
228572    A-228574  MapQuest  201.0         2  2016-11-30 17:33:47
228578    A-228580  MapQuest  201.0         2  2016-11-30 17:35:33
...            ...       ...    ...       ...                  ...
3512736  A-3512900      Bing    NaN         2  2019-08-22 19:48:26
3512737  A-3512901      Bing    NaN         2  2019-08-22 19:48:26
3512738  A-3512902      Bing    NaN         4  2019-08-22 19:57:25
3513221  A-3513385      Bing    NaN         2  2019-08-23 08:03:29
3513240  A-3513404      Bing    NaN         3  2019-08-23 17:03:55

                    End_Time  Start_Lat  Start_Lng   End_Lat   End_Lng  ...  \
228551   2016-11-30 16:57:20  39.152046 -76.645584       NaN       NaN  ...
228552   2016-11-30 17:02:36  39.152046 -76.645584       NaN       NaN  ...
228565   2016-11-30 17:24:12  39.481083 -76.249626       NaN       NaN  ...
228572   2016-11-30 18:01:49  39.158756 -76.718475       NaN       NaN  ...
228578   2016-11-30 18:05:10  39.636391 -77.710457       NaN       NaN  ...
...                      ...        ...        ...       ...       ...  ...
3512736  2019-08-22 20:17:11  39.494560 -76.892370  39.49561 -76.89158  ...
3512737  2019-08-22 20:17:11  39.495610 -76.891580  39.49456 -76.89237  ...
3512738  2019-08-23 00:56:06  39.600500 -77.677230  39.60544 -77.73422  ...
3513221  2019-08-23 08:32:31  39.336120 -76.491730  39.33962 -76.49409  ...
3513240  2019-08-23 17:33:46  39.030140 -77.122970  39.03093 -77.12763  ...

         Roundabout Station   Stop Traffic_Calming Traffic_Signal  \
228551        False   False  False           False          False
228552        False   False  False           False          False
228565        False   False  False           False           True
228572        False   False  False           False          False
228578        False   False  False           False           True
...             ...     ...    ...             ...            ...
3512736       False   False  False           False          False
3512737       False   False  False           False           True
3512738       False   False  False           False          False
3513221       False   False  False           False          False
3513240       False   False  False           False          False

        Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
228551         False            Day            Day               Day
228552         False            Day            Day               Day
228565         False          Night            Day               Day
228572         False          Night          Night               Day
228578         False          Night          Night               Day
...              ...            ...            ...               ...
3512736        False            Day            Day               Day
3512737        False            Day            Day               Day
3512738        False          Night            Day               Day
3513221        False            Day            Day               Day
3513240        False            Day            Day               Day

        Astronomical_Twilight
228551                    Day
228552                    Day
228565                    Day
228572                    Day
228578                    Day
...                       ...
3512736                   Day
3512737                   Day
3512738                   Day
3513221                   Day
3513240                   Day

[53593 rows x 48 columns]

ID                           0
Source                       0
TMC                      21714
Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                  31879
End_Lng                  31879
Distance(mi)                 0
Description                  0
Street                       0
Side                         0
City                         3
County                       0
State                        0
Zipcode                    211
Country                      0
Timezone                   211
Airport_Code               211
Weather_Timestamp         1876
Temperature(F)            3059
Wind_Chill(F)            32183
Humidity(%)               3108
Pressure(in)              2683
Visibility(mi)           12197
Wind_Direction            5527
Wind_Speed(mph)          19603
Precipitation(in)        33711
Weather_Condition        12291
Amenity                      0
Bump                         0
Crossing                     0
Give_Way                     0
Junction                     0
No_Exit                      0
Railway                      0
Roundabout                   0
Station                      0
Stop                         0
Traffic_Calming              0
Traffic_Signal               0
Turning_Loop                 0
Sunrise_Sunset               3
Civil_Twilight               3
Nautical_Twilight            3
Astronomical_Twilight        3
dtype: int64

In [29]:
def impute_median(series):
    return series.fillna(series.median())

def impute_mean(series):
    return series.fillna(series.mean())

In [30]:
# impute mdeian for continuous data
MD.loc[:,'End_Lat'] = MD.loc[:,'End_Lat'].transform(impute_median)
MD.loc[:,'End_Lng'] = MD.loc[:,'End_Lng'].transform(impute_median)
MD.loc[:,'TMC'] = MD.loc[:,'TMC'].transform(impute_median)
MD.loc[:,'Temperature(F)'] = MD.loc[:,'Temperature(F)'].transform(impute_median)
MD.loc[:,'Wind_Chill(F)'] = MD.loc[:,'Wind_Chill(F)'].transform(impute_median)
MD.loc[:,'Humidity(%)'] = MD.loc[:,'Humidity(%)'].transform(impute_median)
MD.loc[:,'Pressure(in)'] = MD.loc[:,'Pressure(in)'].transform(impute_median)
MD.loc[:,'Visibility(mi)'] = MD.loc[:,'Visibility(mi)'].transform(impute_median)
MD.loc[:,'Wind_Speed(mph)'] = MD.loc[:,'Wind_Speed(mph)'].transform(impute_median)
MD.loc[:,'Precipitation(in)'] = MD.loc[:,'Precipitation(in)'].transform(impute_median)

In [31]:
MD.isnull().sum()

ID                           0
Source                       0
TMC                          0
Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                      0
End_Lng                      0
Distance(mi)                 0
Description                  0
Street                       0
Side                         0
City                         3
County                       0
State                        0
Zipcode                    211
Country                      0
Timezone                   211
Airport_Code               211
Weather_Timestamp         1876
Temperature(F)               0
Wind_Chill(F)                0
Humidity(%)                  0
Pressure(in)                 0
Visibility(mi)               0
Wind_Direction            5527
Wind_Speed(mph)              0
Precipitation(in)            0
Weather_Condition        12291
Amenity                      0
Bump                         0
Crossing                     0
Give_Way                     0
Junction                     0
No_Exit                      0
Railway                      0
Roundabout                   0
Station                      0
Stop                         0
Traffic_Calming              0
Traffic_Signal               0
Turning_Loop                 0
Sunrise_Sunset               3
Civil_Twilight               3
Nautical_Twilight            3
Astronomical_Twilight        3
dtype: int64

In [32]:
# impute mode for categorical data
MD = MD.fillna(MD['Weather_Condition'].value_counts().index[0])
MD = MD.fillna(MD['Astronomical_Twilight'].value_counts().index[0])
MD = MD.fillna(MD['Nautical_Twilight'].value_counts().index[0])
MD = MD.fillna(MD['Weather_Timestamp'].value_counts().index[0])
MD = MD.fillna(MD['Civil_Twilight'].value_counts().index[0])
MD = MD.fillna(MD['City'].value_counts().index[0])
MD = MD.fillna(MD['Wind_Direction'].value_counts().index[0])
MD = MD.fillna(MD['Sunrise_Sunset'].value_counts().index[0])
MD = MD.fillna(MD['Zipcode'].value_counts().index[0])
MD = MD.fillna(MD['Timezone'].value_counts().index[0])
MD = MD.fillna(MD['Airport_Code'].value_counts().index[0])
MD = MD.fillna(MD['Description'].value_counts().index[0])

In [33]:
# make sure there is no missing value
MD.isnull().sum()

ID                       0
Source                   0
TMC                      0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Street                   0
Side                     0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [34]:
import os
os.chdir(r'C:/Users/user/Desktop/Data visualization/project')
MD.to_csv('Maryland.csv')